/* Webfont: Elmo */@font-face {
    font-family: 'Elmo';
    src: url('elmer-webfont.eot'); /* IE9 Compat Modes */
    src: url('elmer-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('elmer-webfont.woff') format('woff'), /* Modern Browsers */
         url('elmer-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

