@font-face {
    font-family: 'Tonii-blacc';
    src: url('Tonii-blacc.eot');
    src: url('Tonii-blacc.eot?#iefix') format('embedded-opentype'),
        url('Tonii-blacc.woff2') format('woff2'),
        url('Tonii-blacc.woff') format('woff'),
        url('Tonii-blacc.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

